
@model IEnumerable<Actor>


@{
    ViewData["Title"] = "Actors";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.profilepicURL)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.profilepicURL" alt="@item.Name" style="max-width:150px">
                        </td>
                        <td class="align-middle">
                            @item.Name
                        </td>
                        <td class="align-middle">
                            @item.Description
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-outline-primary" asp-controller="Actor" asp-action="Edit"><i class="bi bi-pencil-square"></i>Edit</a>
                            <a class="btn btn-outline-info" asp-controller="Actor" asp-action="Details" asp-route-id="@item.actorID"><i class="bi bi-eye"></i>Details</a>
                            <a class="btn btn-danger text-white"><i class="bi bi-trash"></i>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="text-white">
    <a asp-asp-controller="Actor" asp-action="Create" class="btn btn-success"><i class="bi bi-plus-cirle"></i>Add New</a>
</div>

